<!-- <input 
    type="text" 
    placeholder="Search by name" 
    [(ngModel)]="searchTerm" 
    (ngModelChange)="onSearch(searchTerm)" 
/>
<select [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange(selectedStatus)">
    <option value="">All</option>
    <option value="alive">Alive</option>
    <option value="dead">Dead</option>
    <option value="unknown">Unknown</option>
</select> -->

<!-- ------------------- -->

<div class="flex justify-center gap-28">
    <div class="flex justify-center my-8">
   
        <form (ngSubmit)="onSearch(userForm)" #userForm="ngForm" class="flex flex-col sm:flex-row items-center gap-4">
          <input 
            type="text"
            id="firstName"
            name="searchItem"
            ngModel
            placeholder="Search by name"
            required
            class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
          >
          <button 
            type="submit" 
            [disabled]="!userForm.valid"
            class="px-6 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 disabled:bg-gray-300 disabled:cursor-not-allowed transition-colors">
            Submit
          </button>
        </form>
      </div>
      
      <div class="flex justify-center my-8">
        <form (ngSubmit)="onStatusChange(useForm)" #useForm="ngForm" class="flex flex-col sm:flex-row items-center gap-4">
          <select 
            id="status" 
            name="status" 
            ngModel
            class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
          >
            <option value="" disabled selected>All</option>
            <option value="alive">Alive</option>
            <option value="dead">Dead</option>
            <option value="unknown">Unknown</option>
          </select>
          <button 
            type="submit" 
            [disabled]="!useForm.valid"
            class="px-6 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 disabled:bg-gray-300 disabled:cursor-not-allowed transition-colors">
            Submit
          </button>
        </form>
      </div>
</div>
  